body{
    margin: 0px;
background-image: url("abstract-flat-background-free-vector.jpg");
background-size: cover;
}
#clock-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   margin-bottom: 0px;
}
/* h1{
    text-align: center;
    font-size:50px;
} */
.hour{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(50px);
 
    box-shadow: 10px 10px 10px  rgba(0,0,0,.1),-10px -10px 10px rgba(255,255,255,1),
    inset 10px 10px 10px rgba(0,0,0,.1),
    inset -10px -10px 10px rgba(255,255,255,1) ;
    height: 150px;
    width: 500px;
}
/* Tablet view (portrait and landscape) */
@media (max-width: 1024px) {
    .hour {
        font-size: 5rem;
        height: 130px;
        width: 400px;
    }
}

/* Mobile view */
@media (max-width: 768px) {
    .hour {
        font-size: 3rem;
        height: 100px;
        width: 300px;
    }
}
